@import "tailwindcss";

@layer base {
  /* LIGHT MODE */
  :root {
    --background: 247, 246, 246; /* Grey background */
    --foreground: 255, 255, 255; /* White background */
    --icon-fill: 255, 255, 255, 0; /* Transparent */
    --sidebar-background: 255, 255, 255; /* White */
    --badge: 254, 156, 156; /* Light red for sidebar notification badge */
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 208, 213, 221;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
  }

  /* DARK MODE */
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --icon-fill: 255, 255, 255;
    --sidebar-background: 30, 30, 30;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  color: #fff;
  background-color: #1a1a1a;
}

button {
  color: #fff;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

input {
  color: #000;
  border: none;
}

svg path {
  fill: #fff;
}

input[type="number"] {
  appearance: textfield;
  /* Remove Firefox default browser style */
  outline: none;
}

/* Remove WebKit default browser style */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input[type="range"] {
  cursor: pointer;
  appearance: none;
  /* Remove WebKit default browser style */
}

input[type="range"]::-webkit-slider-thumb {
  cursor: pointer;
  appearance: none;
  /* Remove WebKit default browser style */
  background-color: #fff;
}

input[type="range"]::-moz-range-thumb {
  cursor: pointer;
  border: none;
  /* Remove Firefox default browser style */
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }
}
